extends layout

block content
	td(align="middle", valign="top", width="600", bgcolor="#1D0A41", style="color:#ffffff")
		img(height="60", width="600", alt="header image", bgcolor="#1D0A41", style="display:block")
	table(align="center", valign="top", cellspacing="0", cellpadding="0", bgcolor="#ffffff", width="600")
		tr
			//Spacing column
			td(align="left", valign="bottom", width="24", style="font-size:24px") &nbsp;
			//Content cell
			td(align="left", valign="bottom", style="font-size:12px")
				br
				| This is some content

			//End content cell
			//Spacing column
			td(align="left", valign="bottom", width="24", style="font-size:24px") &nbsp;