extends layout

block content
	td(align="middle", valign="top", width="600", bgcolor="#1D0A41", style="color:#ffffff")
		img(height="60", width="600", alt="header image", bgcolor="#1D0A41", style="display:block")
	table(align="center", valign="top", cellspacing="0", cellpadding="0", bgcolor="#ffffff", width="600")
		tr
			//Spacing column
			td(align="left", valign="bottom", width="24", style="font-size:24px") &nbsp;
			//Content cell
			td(align="left", valign="bottom", style="font-size:12px")
				br
				table(align="center", valign="top", cellspacing="0", cellpadding="0", bgcolor="#ffffff", width="552")
					tr
						td(align="left", valign="bottom")
							img(src="images/genentech-logo.gif", align="left", valign="top", width="131", height="72", style="display:block")
							img(src="images/genentech-logo.gif", align="right", valign="top", width="131", height="72", style="display:block")
				br
				| This is some content
				| And another one <br>
				| and some more<br>
				| Can you believe even <span style="color:red">MOR!!!</span>
				br
				b(style="color:#cccccc") And this is stuff in bold
				br
				br
				i(style="color:blue") and some in italics
				br
				br
				table(align="center", valign="top", width="552", cellpadding="0", cellspacing="0", cellborder="0")
					tr
						td(align="center", valign="top", height="2", width="522", colspan="2", bgcolor="#FF0000")
							img(height="2", width="522", style="display:block", src="images/point.gif")
					// spacer row
					tr
						td(align="center", valign="top", height="7", width="522", colspan="2", bgcolor="#ffffff")
							img(height="7", width="522", style="display:block", src="images/point.gif")
					tr
						td(align="left", valign="top", style="color:orange", width="15") &bull;
						td(align="left", valign="top")
							b And inside a table
					tr
						td(align="left", valign="top", style="color:orange", width="15") &bull;
						td(align="left", valign="top") Second bullet point
					tr
						td(align="left", valign="top", style="color:orange", width="15") &bull;
						td(align="left", valign="top")
							| Third bullet point is a little longer
							br
							| and goes onto another line
					tr
						td(align="left", valign="top", style="color:orange", width="15") &bull;
						td(align="left", valign="top") And here is a 4th
				br
				u(style="font-size:18px") Concomitant strong 
					b CYP3A4 inducers
				br
				| The concomitant use of strong CYP3A4 inducers should be avoided (including, but not limited to, dexamethasone, phenytoin, carbamazepine, rifampin, rifabutin, rifapentin, and phenobarbital). Patients should also refrain from taking St. John’s wort. Based on the nonlinear pharmacokinetic profile of nilotinib, increasing the dose of TASIGNA when co-administered with such agents is unlikely to compensate for the loss of exposure.
				br
				br
				| TASIGNA is a competitive inhibitor of CYP3A4, CYP2C8, CYP2C9, CYP2D6, and UGT1A1. In vitro studies also suggest that nilotinib may induce CYP2B6, CYP2C8, and CYP2C9 and decrease the concentrations of drugs that are eliminated by these enzymes. Single-dose administration of TASIGNA to healthy subjects did not change the pharmacokinetics and pharmacodynamics of warfarin (a CYP2C9 substrate). The ability of TASIGNA to induce metabolism has not been determined in vivo. Caution should be exercised when co-administering TASIGNA with substrates for these enzymes that have a narrow therapeutic index. TASIGNA inhibits human P-glycoprotein (Pgp). If TASIGNA is administered with drugs that are substrates of Pgp, increased concentrations of the substrate are likely and caution should be exercised.
				br
			//End content cell
			//Spacing column
			td(align="left", valign="bottom", width="24", style="font-size:24px") &nbsp;